.nav-tree {
    padding: 20px;
}

.nav-tree__item-title {
    max-width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-tree__item-children {
    margin-left: 20px;
}